.text-change {
  border: none;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  height: fit-content;
}
.h1 {
  font-size: 2rem;
  font-weight: 700;
}
.text-settings {
  width: 100%;
  overflow-wrap: break-word;
}
