.profile-wrapper {
  width: 100%;
  height: calc(100% - 100px);

  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  display: flex;
  justify-content: center;

  .photo-info-wrapper {
    height: fit-content;
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .username {
    font-size: 2rem;
    font-weight: 600;
  }
  .name {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.edit {
  align-self: flex-start;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all ease 0.3s;
  cursor: pointer;

  &:hover {
    background: #aaaaaa;
  }
}
