.blog-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/jpg/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  display: flex;
  justify-content: center;
}
.posts-wrapper {
  align-self: flex-end;
  width: 900px;
  height: calc(100% - 100px);
  background: transparent;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 25px;

  .create {
    align-self: flex-end;
    width: fit-content;
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0 0 10px 0;
  }
  .posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
