.background {
  position: fixed;

  width: 100%;
  height: 100%;
  background-image: url("http://localhost:3000/static/media/wallpaper.9bda1a83a5c9d1cade12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
