.create-post-wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;

  .create-post-menu {
    height: fit-content;
  }
  .btns {
    display: flex;
    gap: 15px;
  }
  .btn {
    border: 1px solid#fff;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
      transition: 0.3s all ease;
    }
  }
}
